.about
  h1 Об
  p Тут можно придумывать контент

  h2 Чо это?
  p Это надо еще придумать

  p
    img.img-responsive(src="/assets/img/empty-intro.png")

  p Отвечай смешно

  p
    img.img-responsive(src="/assets/img/empty-outro.png")

  p Набирай классы

  p
    img.img-responsive(src="/assets/img/empty-joke.png")
