.about
  h1 About
  p Loliful is a place where everybody can joke. Or have a good laugh. Or both. Loliful is free and easy. All you need is a sense of humour and some passion.

  h2 How it works
  p Intro is the first part of a future joke, it could be anything. Add your Intro in Intros, cap :)

  p
    img.img-responsive(src="/assets/img/empty-intro.png")

  p Reply to any other Intro in a humorous way :)

  p
    img.img-responsive(src="/assets/img/empty-outro.png")

  p If both the Intro and Outro collect enough of love, they become a Joke. Like, share, have fun!

  p
    img.img-responsive(src="/assets/img/empty-joke.png")
