.about
  h1 О сервисе
  p
    | Лолифул сделан для тех, кто любит посмеяться. Или умеет пошутить.
    | А лучше и то и другое. И можно без хлеба. Приложение бесплатное и невероятно простое в использовании.
    | Всё что вам нужно это испытывать чувства к юмору.


  h2 Как это работает
  p Берём первую часть будущей шутки (любая адекватная фраза, если честно)

  p
    img.img-responsive(src="/assets/img/empty-intro.png")

  p Добавляем смешной ответ, который по смыслу дополняет первую часть

  p
    img.img-responsive(src="/assets/img/empty-outro.png")

  p
    | И если парочка вопрос-ответ набирает достаточно сердечек она становится Шуткой.
    | Жмите сердечки если вопрос или ответ нравится, делитесь шутками, получайте заряд позитива.

  p
    img.img-responsive(src="/assets/img/empty-joke.png")
