.about
  div
    h1 About
    p Loliful is a place where everybody can show off their smartness. It's easy and free.
    p You can make up an intro, which ideally should be interesting enough for other members to joke about.
    p Or, you may want ot finish somebody else's intro with your outro. The funnier it is the more credits you get
    p If your outro is as good as the intro (or even better) there magic happens.
      | There is a joke born.
      | Top jokes are posted in the Top section, where everybody could see it and are free to share and/or upvote.
    p Make them laugh!

  hr

