.joke-list-item {
    .question {
        font-weight: bold;
    }
    .answer {
        color: #333;
        padding-left: 5px;
    }
}

.nail-add {
    display: none;
}

.nail-list-item {
    .cardPaddings() {
        padding-left: 18px;
        padding-right: 18px;
    }

    background: @nailBg;
    box-shadow: 0px 5px 10px 0px @nailBoxShadow;
    margin-bottom: 10px;

    .panel-heading {
        .cardPaddings();
        background-color: initial;

        font-weight: normal;

        color: @nailHeaderColor;
        font-size: @nailHeadFontSize;
        line-height: @nailHeadFontSize + 8px;

        a {
            color: @nailHeaderColor;
        }

        .avatar {
            @avatarSize: 18px;
            background: lighten(#BD10E0, 30%);
            border-radius: @avatarSize;
            width: @avatarSize;
            height: @avatarSize;
            margin-right: floor(@avatarSize/2);
            line-height: @avatarSize;
            .icon-align();
        }

        .time-ago {
            margin-left: 15px;
            .icon {
                .icon-align();
                margin-right: 5px;
            }
        }

        .expander {
            float: right;
            font-size: @nailExpandFontSize;
            color: @nailTextColor;
            padding: 1px 10px;

            .icon {
                .icon-align();
            }

            &:active, :focus, :hover {
                color: lighten(@nailTextColor, 20%);
            }
        }
    }
    .panel-body {
        .cardPaddings();
        padding-bottom: 40px;
        font-family: 'Sanchez', sans-serif;
        font-size: @nailTextSize;
        color: @nailTextColor;
        line-height: floor(@nailTextSize * 1.3);
        a {
            color: @nailTextColor;
        }
    }
    .panel-footer {
        .cardPaddings();
        border-top: 0;
        background: @nailFooterBg;
        font-size: @nailFooterTextSize;
        color: @nailHeaderColor;
        line-height: floor(@nailFooterTextSize * 1.6);

        .icon {
            font-size: @nailFooterIconSize;
            color: @nailTextColor;
            line-height: @nailFooterIconSize;
            .icon-align();

            &:hover,:active,:focus {
                color: lighten(@nailTextColor, 20%);
            }
        }

        .likes {
            span {
                margin-left: 10px;
                color: @nailHeaderColor;
                font-size: @nailLikeCountSize;
                line-height: 29px;
            }
            text-decoration: none;
            margin-left: 10px;
        }

        .dropdown {
            display: inline-block;
            button {
                border: 0;
                background: initial;
                outline: none;
            }
            a {
                outline: none;
            }
        }
    }
}
