header.header {
    // background: @headerBg url('@{img}/bg_artwork.png') no-repeat left top;
    // background-size: cover;
    /* Mask: */
    background: @headerBg;

    .navbar-brand {
        margin-top: @navBarMarginTop;
        img {
            height: @logoHeight;
        }
    }

    .nav-pills-main-menu(@navFontSize, @navLineHeight, @navIconSize, 'auto');

    height: 120px;
}

.navbar {
  margin-bottom: 5px;
}

.navbar-default {
    background-color: initial;
    border: initial;

    .header-icon {
        border: 0;
        color: @iconMenu;
        .icon-font();

        line-height: @iconFontSizeMenu;

        &:hover, &:active, &:focus {
            background-color: initial;
            color: @iconMenuHighlight;
        }
    }
}

.secMenuItemActive() {
    background-color: initial;
    color: @secondaryMenuTextHighlight;
}

#secondary-menu {
    background: @secondaryMenuBg;
    padding-right: floor(@navPillsMarginSides/2);
    padding-left: floor(@navPillsMarginSides/2);

    &>li {
        text-align: center;
        display: table-cell;
        width: 1%;

        &>a {
            font-weight: bold;
            font-size: @secMenuFontSize;
            color: @secondaryMenuText;
            line-height: floor(@secMenuFontSize * 1.8);
            margin-bottom: 0;
            white-space: nowrap;

            &:hover, :active, :focus {
                .secMenuItemActive();
            }
        }
        &.active > a {
            .secMenuItemActive();
        }
    }

}

.is-phone {
  .main-nav {
    //.d3();
    //
  }
}
.is-tablet {
  @desktopPaddingTop: 6px;
  header.header {
    padding-top: @desktopPaddingTop;
    height: 70px;
  }
  .main-nav {
    //.d1();
    position: absolute;
    left: 200px;
    top: @desktopPaddingTop;
    width: 480px;
  }
}
.is-desktop {
  @desktopPaddingTop: 6px;
  header.header {
    padding-top: @desktopPaddingTop;
    height: 70px;
  }
  .main-nav {
    //.d1();
    position: absolute;
    left: 200px;
    top: @desktopPaddingTop;
    width: 550px;
  }
}


header.header {
  .navbar-brand {
    img {
      height: @logoMobileHeight;
    }
  }

  .navbar-header {
    .navbar-toggle {
      margin: 1px 8px 0 0;
    }
  }

  .navbar {
    .nav-pills.top-menu {
      width: 100%;

      > li {
        width: 33%;
      }
    }
  }
}


.minifyNavPills(@delta) {
  header.header {
    .nav-pills {
      padding-right: @navPillsMarginSides - @delta;
      padding-left: @navPillsMarginSides - @delta;

      &>li {
        &>a {
          font-size: @navFontSize - @delta;
          line-height: @navLineHeight ;

          .icon {
            font-size: @navIconSize - floor(@delta * 1.2);
            line-height: @navIconSize - floor(@delta * 1.2);
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .minifyNavPills(4px);
  header.header {
    .navbar {
      .nav-pills.top-menu {
        > li {
          width: 32%;
        }
      }
    }
  }

  #secondary-menu {
    padding-left:0;
    padding-right:0;
    li > a {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}
