.app(ng-class="{'is-phone': screen.isPhone, 'is-tablet': screen.isTablet, 'is-desktop': screen.isDesktop, 'is-offline': network.offline}", ng-swipe-left="swipeLeft()", ng-swipe-right="swipeRight()")
  loliful-navigation

  .ui-view-container
    section.main#main-view(ui-view="content")
