.app(ng-class="{'is-phone': screen.isPhone, 'is-tablet': screen.isTablet, 'is-desktop': screen.isDesktop}")
  loliful-navigation

  .ui-view-container
     section(class="main", ui-view="content")

  footer.footer
