div.notification-list-item.row
  .col-xs-2.avatar-col
    avatar(user="nli.notification.$user")
  .col-xs-10.text-col
    i.pull-right.icon.type(ng-class="::nli.getIcon()")
    a(ui-sref="profile.public({id: nli.notification.actorId})") {{ ::nli.getActorName() }}
    | {{ ::nli.getActionName() }}
    a(ui-sref="nail-view({nailId: nli.notification.nailId})", ng-click="nli.markRead()")
      | {{ ::nli.notification.text }}

