.notifications
  h1 Notifications
    span.badge(ng-if="vm.count.count")
      | {{ vm.count.count }} / {{ vm.count.unread }}
  div(ng-if="vm.count.unread && vm.showMarkAll")
    button.btn.btn-info.btn-small(ng-click="vm.markRead()")
      | Mark all read

  loading(ng-if="!vm.notifications")


  div(ng-if="vm.$empty")
    .align-center
      p.vOfs Your mailman took a day off
      img.mailman(src="/assets/img/mailman2.png", title="mailman")
      p.vOfs Try adding an Intro to get noticed
      a.btn.btn-default(ui-sref="fresh") Take me to fresh intros

  div(ng-if="vm.notifications.length",infinite-scroll="vm.loadMore()" infinite-scroll-distance="3")
    div(ng-if="vm.notificationsNew.length")
      h2 New
      notification-list-item(notification="item", ng-repeat="item in vm.notificationsNew track by $index")
    div(ng-if="vm.notificationsOlder.length")
      h2 Older
      notification-list-item(notification="item", ng-repeat="item in vm.notificationsOlder track by $index")
