{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "parserOptions": {
    "modules": true,
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "console": true,
    "process": true,
    "jQuery": true,
    "io": true,
    "$": true
  },
  "rules": {
    "no-console" : 1
  }
}
