h2 Login
form(ng-submit="vm.login()")
  .form-control
      input(type="text", ng-model="vm.username")
  .form-control
      input(type="password", ng-model="vm.password")
  .form-actions
      input.btn.btn-success(type="submit", value="Login")
