@headerColor: #99A3B3;
@subheaderColor: #FFFFFF;

.firstRun {
  background: @bodyBg !important;
}

.login {
    background-color: @bodyBg;
    text-align: center;
    color: @themeTextColor;

    background: url(/assets/img/star-bg.svg) 0 0 repeat;

    height: 100%;

    h1,h2,h3,h4,h5 {
        font-family: 'Sanchez';
        font-weight: 100 !important;
    }
    .bottom30 {
        margin-bottom: 30px;
    }
    h3 {
      font-size: 36px;
      line-height: 40px;
      padding-top: 20px;
    }
    h4 {
        margin-right: 40px;
        margin-left: 40px;
       padding-top: 14px;
       font-size: 22px;
       letter-spacing: 1px;
    }

    .social {
        margin: 60px 20px 50px 20px;

        .thumbnail {
            img {
                max-width: 100px;
                z-index: 2;
                position: relative;
                display: initial;
                border-radius: 50px;
                box-shadow: 0px 15px 40px rgba(77, 184, 205, .4);
                min-width: 30px;
            }
        }
    }

    h5 {
      margin-top: 40px;
      font-size: 14px;
      letter-spacing: 1px;
      color: @headerColor;
      line-height: 24px;

      margin-left: 30px;
      margin-right: 30px;
    }

  .footer {
    margin-top: 20px;
    margin-bottom: 10px;
    //max-width: 500px;
  }
}

// first run
.avatar-loading {
  text-align: center;

  .bg {
    position: relative;
    display: inline-block;
    background: #F4F6F9;
    width: 153px;
    height: 153px;
    border-radius: 77px;
    z-index: 1;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      border-radius: 78px;
      left: 0;

      animation-duration: 5s;
      animation-name: exposeImg;
    }
  }
}

@keyframes exposeImg {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
