@loginBgColor: #112633;
@loginBgColorGrad: #172F3E;
@headerColor: #99A3B3;
@subheaderColor: #FFFFFF;

.login {
    background: @loginBgColor;
    text-align: center;
    /* Rectangle 27: */
    background: -webkit-linear-gradient(@loginBgColor 0%, @loginBgColorGrad 100%);
    background: -o-linear-gradient(@loginBgColor 0%, @loginBgColorGrad 100%);
    background: linear-gradient(@loginBgColor 0%, @loginBgColorGrad 100%);


    margin: 60px auto;

    h1,h2,h3,h4,h5 {
        font-family: 'Sanchez';
        font-weight: 100 !important;
        color: @subheaderColor;
    }
    .bottom30 {
        margin-bottom: 30px;
    }

    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        img {
           height: 44px;
        }
    }

    .header {
        font-size: 28px;
        letter-spacing: 1px;
        color: @headerColor;
        line-height: 38px;
        margin: 20px 40px 50px 40px;
    }
    h3 {
      font-size: 40px;
      line-height: 50px;
      padding-top: 30px;
    }
    h4 {
        margin-right: 40px;
        margin-left: 40px;
       padding-top: 20px;
       font-size: 25px;
       letter-spacing: 1px;
    }

    .social {
        margin: 40px 20px 20px 20px;

        .thumbnail {
            img {
                z-index: 2;
                position: relative;
                display: initial;
            }
        }
    }

    h5 {
      font-size: 17px;
      letter-spacing: 1px;
      color: @headerColor;
      line-height: 24px;
    }
}