@loginBgColor: #39404A;
@headerColor: #99A3B3;
@subheaderColor: #FFFFFF;

.starsEverywhere() {
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 0;
      content: ' ';
      background: url('/assets/img/stars2.png');
      opacity: 0.7;
}

.login {
    background: @loginBgColor;
    text-align: center;

    &::before {
      .starsEverywhere();
      top: 0;
      height: 30%;
    }
    &::after {
      .starsEverywhere();
      bottom: 0;
      height: 50%;
    }


    margin: 60px auto;

    h1,h2,h3,h4 {
        font-family: Sanchez;
        color: @subheaderColor;
    }
    .bottom30 {
        margin-bottom: 30px;
    }

    .logo {
        padding-bottom: 20px;
    }

    .header {
        font-size: 22px;
        color: @headerColor;
        line-height: 26px;
        margin-bottom: 50px;
    }
    h3 {
      font-size: 32px;
      line-height: 40px;
    }

    .social {
        margin-top: 40px;

        .thumbnail {
            img {
                z-index: 2;
                position: relative;
                display: initial;
            }
        }
    }

    .footer {
      font-family: Sanchez;
      font-size: 16px;
      color: @headerColor;
      line-height: 24px;
    }
}