div Progress bar..
h4.bottom30 Hold on, we are setting up your account

.social.row
  .col-sm-4.col-xs-4
    .thumbnail
      hi

h5 No need to sign up

button.btn.btn-primary.btn-block(ui-sref="fresh") Proceed
