.progress-bar-container
  .progress-bar
  .progress-bar.progress-current

h4.bottom30 Hold on, we are setting up your account

.avatar-loading
  .bg
    img(ng-if="vm.user", ng-src="{{ vm.user.avatar }}")

h5.bottom30 Next time you won't need to wait that long again

.footer.container-fluid.clearfix
  .row
    .col-xs-6.col-sm-2.col-sm-offset-4
      button.btn.btn-primary.btn-block(ui-sref="fresh", ng-click="vm.setFirstRun()") TO INTROS
    .col-xs-6.col-sm-2
      button.btn.btn-primary.btn-block(ui-sref="profile", ng-click="vm.setFirstRun()") TO PROFILE
