p.title
  b(ng-show="vm.val < 100") Hold on,<br> we are setting up your account
  b(ng-show="vm.val >= 100") <br> You are good to go

.avatar-loading
  .wrapper
    .outer-bg(ng-show="vm.val < 100")
      svg#svg(width='160', height='160', version='1.1', xmlns='http://www.w3.org/2000/svg', shape-rendering="geometricPrecision")
        circle(r='77', cx='80', cy='80', fill='transparent', stroke-dasharray='565.48', stroke-dashoffset='0')
        circle#bar(r='77', cx='80', cy='80', fill='transparent', stroke-dasharray='565.48', stroke-dashoffset='0')
    .bg
      img(ng-if="vm.user", ng-src="{{ vm.user.avatar }}", ui-sref="profile", ng-click="vm.setFirstRun()")

p.info.bottom30
  span(ng-show="vm.val < 60") Next time you won't need to wait
  span(ng-show="vm.val > 60 && vm.val < 100") Almost there
  span(ng-show="vm.val >= 100")
    | We recommend you connect your other social media accounts. You'll be able to log in with any of those later.

.container-fluid.clearfix(ng-show="vm.val >= 100")
  .row
    .col-xs-12.align-center
      button.btn.btn-primary.bottom30(ui-sref="top", ng-click="vm.setFirstRun()") SHOW ME BEST JOKES
  .row
    .col-xs-12.align-center
      button.btn.btn-primary(ui-sref="profile", ng-click="vm.setFirstRun()") GO TO PROFILE

p.info.bottom30(ng-show="vm.val >= 100")
  span
    | <br>
    | Please note, that you could receive occasional emails for certain activities.
    | <br>
    | You can always change your email preferences in your personal settings.
