.progress-bar-container
  .progress-bar
    .progress

h4.bottom30 Hold on, we are setting up your account

.avatar-loading
  .bg
    img(ng-if="vm.user", ng-src="{{ vm.user.avatar }}")

h5 Next time you won't need to wait that long again

.footer.container-fluid
  .row
    .col-xs-6
      button.btn.btn-primary.btn-block(ui-sref="fresh", ng-click="vm.setFirstRun()") TO INTROS
    .col-xs-6
      button.btn.btn-primary.btn-block(ui-sref="profile", ng-click="vm.setFirstRun()") TO PROFILE
