p.title
  b(ng-show="vm.val < 100") Минуточку,<br> настраиваем ваш профиль
  b(ng-show="vm.val >= 100") <br> Всё хорошо

.avatar-loading
  .wrapper
    .outer-bg(ng-show="vm.val < 100")
      svg#svg(width='160', height='160', version='1.1', xmlns='http://www.w3.org/2000/svg', shape-rendering="geometricPrecision")
        circle(r='77', cx='80', cy='80', fill='transparent', stroke-dasharray='565.48', stroke-dashoffset='0')
        circle#bar(r='77', cx='80', cy='80', fill='transparent', stroke-dasharray='565.48', stroke-dashoffset='0')
    .bg
      img(ng-if="vm.user", ng-src="{{ vm.user.avatar }}", ui-sref="profile", ng-click="vm.setFirstRun()")

p.info.bottom30
  span(ng-show="vm.val < 60") В следующий раз можно не ждать
  span(ng-show="vm.val > 60 && vm.val < 100") Почти готово
  span(ng-show="vm.val >= 100")
    | Рекомендуем подключить дополнительно другие аккаунты, чтобы было проще логиниться.

.container-fluid.clearfix(ng-show="vm.val >= 100")
  .row
    .col-xs-12.align-center
      button.btn.btn-primary.bottom30(ui-sref="top", ng-click="vm.setFirstRun()") ПОСМОТРЕТЬ ШУТКИ
  .row
    .col-xs-12.align-center
      button.btn.btn-default(ui-sref="profile", ng-click="vm.setFirstRun()") ПРОЙТИ В ПРОФИЛЬ

p.info.bottom30(ng-show="vm.val >= 100")
  span
    | <br>
    | При определенном стечении обстоятельств, вы можете получать от нас письма.
    | <br>
    | Настройки email-уведомлений вы можете посмотреть в Настройках.
