.stars-bg
  h3 Lol in
  h4.bottom30 with one of your social media accounts
  p.gray No sign up, no additional info required

  .social.row
    .col-sm-4.col-xs-4
      .thumbnail
        a.auth-fb(href="{{api}}/auth/facebook")
          img(src="/assets/img/auth-f.svg", title="Login with this social network")
    .col-sm-4.col-xs-4
      .thumbnail
        a.auth-twitter(href="{{api}}/auth/twitter")
          img(src="/assets/img/auth-t.svg", title="Or this one")
    .col-sm-4.col-xs-4
      .thumbnail
        a.auth-google(href="{{api}}/auth/google")
          img(src="/assets/img/auth-g.svg", title="Or even this one")


  p.gray.center-text-block
    | By clicking on any of the above buttons you confirm that you have read and agreed with our &nbsp;
    a(href="https://loliful.co/terms-of-service.html") Terms of Service
    | &nbsp; and &nbsp;
    a(href="https://loliful.co/privacy-policy.html") Privacy Policy

