form.form-signin(ng-submit="vm.login()")
  h2.form-signin-heading Please Lollin
  label.sr-only(for="email") Email
  input.form-control#email(type="text", ng-model="vm.username", required, autofocus, placeholder="Email")
  label.sr-only(for="password") Password
  input.form-control#password(type="password", ng-model="vm.password", required, placeholder="Password")
  div.checkbox
    label
      input(type="checkbox", ng-model="vm.rememberMe", value="true")
      | Remember me
  button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in

  div.social
    a.btn.btn-block.btn-primary(href="{{api}}/auth/facebook") Login with Facebook
    a.btn.btn-block.btn-danger(href="{{api}}/auth/google") Login with Google
    a.btn.btn-block.btn-info(href="{{api}}/auth/twitter") Login with Twitter

  div(ng-if="vm.signupEnabled")
    p Don't have an account?
      a.btn.btn-sm.btn-default(ui-sref="signup") Create one!
