.stars-bg
  h3 Стой!
  h4 Кто идет?

  .social.row
    .col-sm-4.col-xs-4
      .thumbnail
        a.auth-fb(href="{{api}}/auth/facebook")
          img(src="/assets/img/auth-f.svg", title="Войти через Facebook")
    .col-sm-4.col-xs-4
       .thumbnail
         a.auth-twitter(href="{{api}}/auth/vkontakte")
           img(src="/assets/img/auth-v.svg", title="Войти через ВКонтакте")
    .col-sm-4.col-xs-4
      .thumbnail
        a.auth-google(href="{{api}}/auth/google")
          img(src="/assets/img/auth-g.svg", title="Or even this one")


  p.gray.center-text-block
    | Осуществляя вход вы автоматически соглашаетесь с &nbsp;
    a(href="https://loliful.co/terms-of-service.html") Правилами пользования

