ul.nav.nav-pills
  li
    a(ui-sref="top({period:'day'})") Of today
  li
    a(ui-sref="top({period:'week'})") Of the week
  li
    a(ui-sref="top({period:'month'})") Of the month
  li
    a(ui-sref="top({period:''})") Of all time
