float-menu(single="true")

loading(ng-if="vm.$loading")

div
  ul#secondary-menu.nav.nav-pills.activity.nav-justified
    li(role="presentation", ui-sref-active="active")
      a(ui-sref="top({period: 'day'})")
        | Today
    li(role="presentation", ui-sref-active="active")
      a(ui-sref="top({period: 'week'})")
        | Week
    li(role="presentation", ui-sref-active="active")
      a(ui-sref="top({period: 'month'})")
        | Month
    li(role="presentation", ui-sref-active="active")
      a(ui-sref="top({period: 'all'})")
        | All time


  div.top(ng-if="vm.jokes",infinite-scroll="screen.isPhone && vm.loadMore()" infinite-scroll-distance="3")
    joke-list-item(joke="item", ng-repeat="item in vm.jokes track by $index")

  button.load-more.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="screen.isPhone") Show more

  br

  div.container-fluid.align-center(ng-if="vm.$empty")
    p.vOfs Looks like no one was trying hard enough to be funny.

    .empty-card.vOfs
      img(src="/assets/img/empty-card.png")

    p What if you would start joking right now?

    .vOfs
      a.btn.btn-primary.uppercase(ui-sref="fresh") Go joking
