.page-top {
    .row {
        margin:0;
    }
}

@media (min-width: 768px) {
    .page-top {
        min-width: 728px;
        max-width: 728px;
        width: 728px;
        position: relative;
        left: 50%;
        margin-left: -364px;
        .panel {
            min-width: 360px !important;
            max-width: 800px !important;
            width: 100%;
        }
    }
}

@media (min-width: 1110px) {
    .page-top {
        min-width: 800px;
        max-width: 800px;
        width: 800px;
        position: relative;
        left: 50%;
        margin-left: -400px;
    }
}
