float-menu(single="true")

loading(ng-if="!vm.jokes.length")

.container
  .row
    .col-xs-12.col-sm-6
      .row.top-filter-menu
        .col-xs-3
          a(ui-sref="top({period:'day'})", ui-sref-active="active") Today
        .col-xs-3
          a(ui-sref="top({period:'week'})", ui-sref-active="active") Week
        .col-xs-3
          a(ui-sref="top({period:'month'})", ui-sref-active="active") Month
        .col-xs-3
          a(ui-sref="top({period:''})", ui-sref-active="active") All time


div.top(ng-if="vm.jokes",infinite-scroll="screen.isPhone && vm.loadMore()" infinite-scroll-distance="3")
  joke-list-item(joke="item", ng-repeat="item in vm.jokes track by $index")

button.load-more.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="screen.isPhone") Show more

br
