.blockPaddings() {
  padding-left: 30px;
  padding-right: 30px;
}

.profile-page {
  .centered-fixed-page();

  h4 {
    font-size: 16px;
  }
  .main-block {
    margin-top: 0;
    background: @themeSecondaryBg;
    margin-bottom: 10px;
    padding-bottom: 20px;

    .blockPaddings();
  }

  .stats {
    margin-top: 30px;
    .blockPaddings();

    .statistic {
      text-align: center;

       .title {
         font-family: Lato;
         font-size: 14px;
         color: @themeTextColor;
         line-height: 28px;
       }
      .count {
        font-family: Lato;
        font-weight: 400;
        font-size: 40px;
        color: #E5736C;
        line-height: 56px;
      }
      .hearts {
        /* 256: */
        font-family: Lato-Regular;
        font-size: 12px;
        color: @themeGrayColor;
        letter-spacing: 0px;
        line-height: 24px;
        /* y: */
        .icon-loliful-icon-liked {
          .icon-align();
          margin-right: 6px;
          font-size: 24px;
          line-height: 24px;
          &:before {
            color: @themeGrayColor;
          }
        }
      }
    }
  }

  .avatar {
    position: relative;

    img {
      border-radius: 50px;
      z-index: 4;
    }
    .mvp {
      position: absolute;
      width: 26px;
      left: 10px;
      bottom: -10px;
      z-index: 5;
    }
  }

  &>.row {
    // .d1();
    // margin-right: 5px;
  }
  &>div {
    margin-top: 20px;
  }
  [class^=col-] {
    // .d2();
    // padding-left: 6px;
    padding-right: 6px;
  }

  p {
    color: @themeTextColor;
  }

  .user-avatar {
    border-radius: 150px;
  }
  .about-me {
    margin-top: 20px;
    margin-bottom: 20px;
    color: @themeSecondaryColor;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 100;

    p {
      //white-space: pre;
    }
    max-height: 100px;
    overflow-y: auto;
  }

  .edit-name{
    font-size: 24px;
    color: @themeSecondaryColor;
    line-height: 24px;
    .icon-loliful-icon-checkmark {
      color: @white;
    }
  }
  .btn.btn-mini {
    height: 36px;
    width: 36px;
    padding: 5px 6px;
  }

  button.edit-name {
    color: @themeMainColor;
  }
  .email-preferences {
    margin-top: 30px;
    .blockPaddings();
  }

  h5 {
    font-family: Lato;
    font-size: 16px;
    color: @themeTextColor;
    line-height: 28px;

    .icon {
      color: #C3C7D0;
      margin-right: 12px;
      font-size: 24px;
      .icon-align();
    }
  }

  .social-profile {
    table {
      width: 100%;
      span {
        color: @themeSecondaryColor;
        display: block;
      }
      tr.actions td {
        vertical-align: top;
        padding-top: 15px;
      }
    }

    //&>div {
    //  margin-bottom: 6px;
    //}
    //img {
    //  height: 24px;
    //  margin-right: 15px;
    //  vertical-align: bottom;
    //}
  }
}

.profile-page.public {

  .user-avatar {
    border-radius: 100px;
  }

  .main-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .social-profile {
    margin-left: 30px;
    margin-top: 15px;
  }
  .social-profile .account {
    margin-bottom: 10px;

    img {
      margin-right: 20px;
    }
  }
}
