.container.profile-page
  h1 Profile

  .row
    .col-xs-3
      img(ng-src="{{ vm.user.avatar }}", ng-show="vm.user.avatar")
    .col-xs-8
      h4 {{ vm.user.name }}
      form.form-inline(ng-show="vm.isEdit", ng-submit="vm.setName()")
          div.form-group
              label.hidden(for="name") Name
              input.form-control#name(type="text", ng-model="vm.user.name")
          button.btn.btn-default(type="submit") Change
    .col-xs-1
      a.edit-name(ng-click="vm.isEdit = !vm.isEdit")
        i.icon.icon-loliful-icon-edit

  div.social-profiles(ng-show="vm.user.accounts")
    div(ng-repeat="acc in vm.user.accounts")
      img(ng-src="https://loliful.io/img/{{ acc.p }}.svg", height="22")
      a(ng-href="{{ acc.l }}") {{ acc.n }}

  div.well
    a.btn.btn-default(href="{{api}}/link/facebook") Link with Facebook
    a.btn.btn-default(href="{{api}}/link/twitter") Link with Twitter
    a.btn.btn-default(href="{{api}}/link/google") Link with Google+

  div.stats
    h5
      i.icon.icon-loliful-icon-stats
      | Stats

    p(ng-if="!vm.stats") Loading stats ..
    div.row(ng-if="vm.stats")
      div.col-xs-4.statistic
        h3.title Intros
        h1.count {{ vm.stats.nails || 0 }}
        p 256
      div.col-xs-4.statistic
        h3.title Outros
        h1.count {{ vm.stats.hammers || 0 }}
        p 256
      div.col-xs-4.statistic
        h3.title Rank
        h1.count {{ vm.stats.rating || 0}}
        p 256


  div.email-preferences
    h5
      i.icon.icon-loliful-icon-notifications
      | Email Notifications

    p Coming soon

  hr
  p Here is my email to send fun stuff to
  form.form
    div.form-group
      input.form-control#email(type="text", ng-model="vm.user.email", disabled)
    div.form-group
      button.pull-right.btn.btn-default(type="submit", disabled) Save
