.profile-page.public
  .main-block.container-fluid

    .row
      .col-xs-3.avatar
        img.user-avatar.img-responsive(ng-src="{{ vm.profile.avatar }}", ng-show="vm.profile.avatar")
        img.mvp(src="/assets/img/loliful-mvp.svg")
      .col-xs-9
        h4 {{ ::vm.profile.name }}

    .row.about-me
      .col-xs-12
        p {{ ::vm.profile.about }}

    .social-profile(ng-show="vm.profile.accounts")
      div.account(ng-repeat="acc in vm.profile.accounts")
        img(ng-src="/assets/img/{{ acc.p }}-on.svg")
        a(ng-href="{{ acc.l }}") {{ acc.n }}


  div.stats.container-fluid
    h5
      i.icon.icon-loliful-icon-stats
      | Statistics

    p(ng-if="!vm.stats") Loading stats ..
    div.row(ng-if="vm.stats")
      div.col-xs-4.statistic
        h3.title Intros
        h1.count {{ vm.stats.nails || 0 }}
        div.hearts
          i.icon.icon-loliful-icon-liked
          | {{ vm.stats.nailKarma }}
      div.col-xs-4.statistic
        h3.title Outros
        h1.count {{ vm.stats.hammers || 0 }}
        div.hearts
          i.icon.icon-loliful-icon-liked
          | {{ vm.stats.hammerKarma }}
      div.col-xs-4.statistic
        h3.title Rank
        h1.count {{ vm.stats.rating > 0 ? vm.stats.rating : '∞' }}

