h1  Top
div.container-fluid(ng-if="!vm.nails.jade")
  p Loading ..
div.container-fluid(ng-if="vm.nails")
  div.panel.panel-success(ng-repeat="item in vm.nails track by $index")
    div.panel-heading
      | User: {{item.userId}}
    div.panel-body
      | {{item.text}}
    div.panel-footer
      div.row
        div.col-sm-6
          span Votes {{item.countVotes}}
        div.col-sm-6
          span Answers: {{item.countAnswers}}
