form.nail-add(name="nail")
  div.form-group
    input#text.form-control(type="text", placeholder="Once upon a dime", ng-model="nailAdd.nail.text")
  div
    button.btn.btn-default.pull-right(ng-disabled="nailAdd.saving", ng-click="nailAdd.onClose();") No, maybe later
    button.btn.btn-large.btn-primary(ng-disabled="nailAdd.saving", ng-click="nailAdd.create()") Add funny intro
