form.form-inline.nail-add(name="nail", ng-submit="nailAdd.create()")
  div.form-group
    input#text.form-control(type="text", placeholder="Once upon a dime", ng-model="nailAdd.nail.text")
  button.btn.btn-success(ng-disabled="nailAdd.saving") Add funny intro
