.nail-list-item {
  &.reported {
    opacity: 0.3;
    border: 1px solid #E5736C;
  }
  .cardBox();
  .panel-heading {
    .cardPaddings();
    background-color: initial;
    font-weight: 100;
    color: @nailHeaderColor;
    font-size: @nailHeadFontSize;
    line-height: @nailHeadFontSize + 8px;
    a {
      color: @nailHeaderColor;
    }
    .username {
      font-weight: 100;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      max-width: 45%;
      padding-bottom: 3px;
    }
    .expander {
      float: right;
    }
  }
  .panel-body {
    .cardPaddings();
    .font-headers();
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: @nailTextSize;
    color: @nailTextColor;
    min-height: 100px;
    line-height: floor(@nailTextSize * 1.3);
    a {
      color: @nailTextColor;
    }
    .submenu {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      vertical-align: middle;
      z-index: 9;
      transition: opacity 0.2s linear;
      opacity: 1;
      &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
          opacity: 1;
        }
      }
      &.ng-leave {
        opacity: 1;
        &.ng-leave-active {
          opacity: 0;
        }
      }
    }
    .submenu-container {
      display: inline-block;
      background: #FFFFFF;
      box-shadow: 0px 2px 12px 0px #EBEEF3;
      border-radius: 8px;
      min-height: 60px;
      padding: 20px 30px;
      line-height: 20px;
      font-size: 14px;
      z-index: 10;
      .report-abuse {
        color: #E5736C;
        .icon {
          .icon-align();
          margin-right: 5px;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }
  .panel-footer {
    .reply {
      background: #FFFFFF;
      border: 1px solid @nailReplyInputBorder;
      border-radius: 8px;
      padding: 3px 10px;
      width: 120px;
      .font-main();
      font-size: 12px;
      color: #D8D8D8;
      line-height: 20px;
      background: @nailReplyBg;
      height: 26px;
    }
    .btn.reply {
      text-align: center;
      border-radius: 100px;
      width: 71px;
    }
    .reply-form {
      position: relative;
      .reply {
        min-width: 120px;
        width: 100%;
        color: darken(#D8D8D8, 40%);
      }
      //.btn {
      //  padding: 3px 10px;
      //  font-size: 12px;
      //}
      .countdown {
        position: absolute;
        right: 6px;
        top: 2px;
        width: 30px;
        text-align: right;
        color: lighten(@themeGrayColor, 15%);
      }
    }
    .cardPaddings();
    border-top: 0;
    background: #FFFFFF;
    font-size: @nailFooterTextSize;
    color: @nailHeaderColor;
    line-height: floor(@nailFooterTextSize * 1.8);
    min-height: 50px;
    .icon {
      font-size: @nailFooterIconSize;
      color: @nailTextColor;
      line-height: @nailFooterIconSize;
      .icon-align();
    }
    .icon-loliful-icon-bookmarked {
      color: @themeMainColor;
    }
    .likes {
      span {
        margin-left: 10px;
        color: @nailHeaderColor;
        font-size: @nailFooterTextSize;
        line-height: 29px;
      }
      text-decoration: none;
      margin-left: 10px;
    }
    .likes.own .icon {
      color: @themeSecondaryColor;
    }
    .delete {
      margin-left: 14px;
    }
    .show-sub {
      margin-right: 10px;
    }
    .share {
      margin-right: 6px;
    }
  }
  .outros {
    .icon {
      font-size: 16px;
      color: @themeGrayColor;
      line-height: 14px;
      margin-right: 4px;
    }
    font-size: 12px;
    color: @themeGrayColor;
    letter-spacing: 0px;
    line-height: 16px;
  }
  .replies {
    position: absolute;
    left: 50%;
    margin-left: -39px;
    z-index: 32; //rise above the right float thingy
    span {
      display: none;
    }
    &.reply-added {
      margin-left: -110px;
      span {
        display: block;
        min-width: 170px;
        color: @themeMainColor;
      }
      .reply {
        display: none;
      }
    }
  }
  .dropdown-menu-trigger {
    .icon {
      float: right;
      font-size: 24px;
      color: @themeTextColor;
      line-height: 24px;
    }
  }
  position: relative;
  .dropdown-menu {
    width: 56px;
    min-width: 54px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #EBEEF3;
    border-radius: 8px;
    left: 100% !important;
    // margin-left: -65px !important;
    // top: 40px !important;
    margin-left: -94px !important;
    top: -8px !important;
    position: absolute !important;
    border-color: #fff;
    li {
      a {
        padding: 5px 16px;
      }
      .icon {
        font-size: 24px;
        color: @themeTextColor;
        line-height: 24px;
      }
    }
  }

  // triangle
  .dd-triangle(@x, @y, @border, @color) {
    content: '';
    position: absolute;
    display: inline-block;
    top: @y;
    right: @x;
    border-bottom: @border solid transparent;
    border-top: @border solid transparent;
    border-left: @border solid @color;
    border-right: @border solid transparent;
  }
  .dropdown-menu:before {
    .dd-triangle(-13px, 22px, 6px, #fff);
  }
  .dropdown-menu:after {
    .dd-triangle(-12px, 23px, 5px, #ffffff);
  }
}
