div.panel.nail-list-item(ng-class="{reported: nlm.nail._isReported}")
  div.panel-heading
    avatar(user="nlm.nail.$user", ng-if="!nlm.isOwn")
    a.expander(ui-sref="nail-view({nailId: nlm.nail.id})")
      span(ng-if="nlm.nail.countAnswers", title="Answers count: {{nlm.nail.countAnswers}}") {{ nlm.nail.countAnswers }}
      i.icon.icon-loliful-icon-expand(ng-if="!nlm.nail.countAnswers")
      i.icon.icon-loliful-icon-nav-activity(ng-if="nlm.nail.countAnswers")
    a.collapser(ui-sref="fresh()")
      i.icon.icon-loliful-icon-expand.flip
    span.time-ago
      i.icon.icon-loliful-icon-time
      | {{ nlm.nail.created | timeAgo }}
  div.panel-body(ng-click="nlm._reply=false")
    .submenu(ng-if="nlm._submenu", ng-click="nlm._submenu=false")
      .submenu-container
          a.report-abuse(ng-click="nlm.report();")
            i.icon.icon-loliful-icon-flag
            | Flag inappropriate
    a(ui-sref="nail-view({nailId: nlm.nail.id})")
      | {{ ::nlm.nail.text }}
  div.panel-footer(ng-if="!nlm.hideFooter")
    div.row(ng-hide="nlm._reply")
      div.col-xs-4(ng-init="nlm._reply=false")
        div(ng-click="nlm._reply=true;", ng-hide="nlm._reply")
          input.reply.disabled(value="Joke")
      div.col-xs-6.pull-right.text-right(ng-if="nlm.isOwn")
        a.likes.own(type="button")
          i.icon.icon-loliful-icon-like
          span {{ nlm.nail.countVotes }}
        a.delete(type="button", ng-click="nlm.delete()")
          i.icon.icon-loliful-icon-delete()
      div.col-xs-6.pull-right.text-right(ng-if="!nlm.isOwn")
        a.show-sub(ng-class="{active: nlm._submenu}", ng-click="nlm._submenu = !nlm._submenu")
          i.icon.icon-loliful-icon-submenu
        a(type="button", ng-click="nlm.favorite()", ng-class="{active: nlm.nail.$favorite}")
          i.icon(ng-class="{'icon-loliful-icon-bookmark': !nlm.nail.$favorite, 'icon-loliful-icon-bookmarked': nlm.nail.$favorite}")
        a.likes(type="button", ng-click="nlm.vote()", ng-class="{active: nlm.nail.$votes}")
          i.icon(ng-class="{'icon-loliful-icon-like': !nlm.nail.$votes, 'icon-loliful-icon-liked': nlm.nail.$votes}")
          span {{ nlm.nail.countVotes }}
    div.row(ng-if="nlm._reply")
      form.reply-form.form-inline(ng-submit="nlm.reply(); nlm._reply=false;")
        div.col-xs-9.col-sm-8
          input.reply.form-control(id="reply-{{nlm.nail.id}}", type="text", placeholder="Joke", ng-model="nlm._hammer.text", required, auto-focus)
        button.btn.btn-mini.btn-primary(type="submit") Reply
