div.panel.nail-list-item
  div.panel-heading
    span.avatar
    a.username(href="#") {{ ::nlm.nail.$user.name }}
    a.expander(ui-sref="nail-view({nailId: nlm.nail.id})")
      i.icon.icon-loliful-icon-expand
    span.time-ago
      i.icon.icon-loliful-icon-time
      | {{ nlm.nail.created | timeAgo }}
  div.panel-body
    a(ui-sref="nail-view({nailId: nlm.nail.id})")
      | {{ ::nlm.nail.text }}
  div.panel-footer
    div.row(ng-hide="nlm._reply")
      div.col-xs-3
        span.gray-text
          ng-pluralize(count="nlm.nail.countAnswers", when="{'0': 'no replies', 'one': '1 outro', 'other': '{} outros'}")
      div.col-xs-3(ng-init="nlm._reply=false")
        div(ng-click="nlm._reply=true", ng-hide="nlm._reply")
          input.reply.disabled(value="Joke")
      div.col-xs-6.pull-right.text-right
        div.dropdown
          button(bs-dropdown="nlm.dropdown", data-animation="am-flip-x", aria-haspopup="true", aria-expanded="false")
            i.icon.icon-loliful-icon-submenu
        a(type="button", ng-click="nlm.favorite()", ng-class="{active: nlm.nail._favorite}")
          i.icon(ng-class="{'icon-loliful-icon-bookmark': !nlm.nail._favorite, 'icon-loliful-icon-bookmarked': nlm.nail._favorite}")
        a.likes(type="button", ng-click="nlm.vote()", ng-disabled="nlm.nail._votes", ng-class="{active: nlm.nail._votes}")
          i.icon(ng-class="{'icon-loliful-icon-like': !nlm.nail._votes, 'icon-loliful-icon-liked': nlm.nail._votes}")
          span {{ nlm.nail.countVotes }}
    div.row(ng-if="nlm._reply")
      form.reply-form.form-inline(ng-submit="nlm.reply(); nlm._reply=false;")
        div.col-xs-10.col-sm-8
          input#reply.form-control(type="text", placeholder="Joke", ng-model="nlm._hammer.text", required, autofocus=true)
        button.btn.btn-small.btn-primary(type="submit") Reply

  // div.container-fluid(ng-if="nlm.showHammers && nlm.nail.hammers")
  //  hammer-list-item.panel-warning(hammer="item", ng-repeat="item in nlm.nail.hammers track by $index")
