float-menu(single="true", show="true")

.view-single
  div.back-btn
    a.btn(onclick="history.back();") ← Back

  div.nail-wrapper
    nail-list-item(nail="nv.nail", is-nail-view="true")

    div.panel.hammer-list-item.hidden
      div.panel-body
          form.reply-form.form-inline(ng-submit="nv.reply();")
            div.col-xs-9.col-sm-8
              input#reply.form-control(type="text", placeholder="Joke", ng-model="nv._hammer.text", required, autofocus=true)
            button.btn.btn-small.btn-primary(type="submit") Reply

    div.container-fluid.hammers(ng-if="nv.nail.$hammers")
      hammer-list-item(hammer="item", ng-repeat="item in nv.nail.$hammers track by $index")

