.modal.nail-view-modal(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='screen.isPhone')
        div.mobile-wrap(ng-show='screen.isPhone')
          div.back-btn
            a.btn(ng-click="$hide()") ← Back
      .modal-body
        div(ng-hide='screen.isPhone')
          a.close.pull-right(ng-click="$hide()", title="Close")
            i.icon.icon-loliful-icon-close

        p(ng-if="!nv.nail") Loading
        div.nail-wrapper(ng-if="nv.nail")
          nail-list-item(nail="nv.nail", is-nail-view="true")

          div.panel.hammer-list-item.hidden
            div.panel-body
              form.reply-form.form-inline(ng-submit="nv.reply();")
                div.col-xs-9.col-sm-8
                  input#reply.form-control(type="text", placeholder="Joke", ng-model="nv._hammer.text", required, autofocus=true)
                button.btn.btn-small.btn-primary(type="submit") Reply

          div.container-fluid.hammers(
            ng-if="nv.nail.$hammers",
            ng-scrollbars
          )
            hammer-list-item(hammer="item", ng-repeat="item in nv.nail.$hammers track by $index")


