.back-btn() {
  margin-left: 0;
  .btn {
    margin-left: 10px;
    color: @themeSecondaryColor;
    background: #EBEFF5;
    border-radius: 0px 100px 100px 0px;
  }
}

.view-single {
  padding-bottom: 150px;

  .back-btn {
    .back-btn();
  }

  .nail-wrapper {
    background: @white;

    box-shadow: 0px 8px 12px 0px #EBEEF3;
    border-radius: 4px;

    margin: 4px 10px 10px 10px;

    .nail-list-item {
      box-shadow: none;
    }

    .hammer-list-item {
      span.avatar {
        margin-right: 4px;
      }
      .username {
        max-width: 100px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }
      .time-ago {
        max-width: 70px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }
    }
  }
}

@media (min-width: 600px) {
  .view-single .nail-wrapper .hammer-list-item {
    .username {
      max-width: 140px;
    }
    .time-ago {
      max-width: 120px;
    }
  }
}

.nail-view-modal {
  //top: 80px;
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }
  .close {
    font-size: 16px;
    z-index: 102;
    position: relative;
  }
  .modal-content {
    padding-top: 2px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px 0px @nailBoxShadow;
    border-radius: 4px;

    .hammers {
      //max-height: 400px;
      //overflow-y: hidden;
    }
  }

}

@media (max-width: 768px) {
  body.nailViewOpen {
    //header.header {
    //  z-index: 5000;
    //  position: fixed;
    //  top: 0;
    //  width: 100%;
    //}
    .app > .ui-view-container {
      &::after {
        content: ' ';
        z-index: 50;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #FFF;
      }
    }
  }

  .nail-view-modal {

    .modal-dialog {
      margin: 0;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .modal-header {
        background: #FFF;
        margin: 0;
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        z-index: 300;
        position: relative;
        box-shadow: 0px 8px 12px 0px #EBEEF3;
      }
      // white triangle
      .modal-header:after {
        content: ' ';
        display: inline-block;
        border: 8px solid transparent;
        border-top: 8px solid #FFF;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -6px;
      }

      .modal-content {
        height: auto;
        min-height: 100%;
        background: @bodyBg;

        .back-btn {
          .back-btn();
        }
      }
      .modal-body {
        //.d2();
        //height: 100%;
        padding: 4px;
        padding-bottom: 72px;

        // padding-top: 240px;

        .hammer-list-item,
        .hammer-list-item .panel-footer {
          background: #FFF;
        }
      }
    }

    // static footer
    .fixed-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 72px;
      padding-top: 8px;
      padding-left: 0;
      z-index: 101;

      background: #FFFFFF;
      box-shadow: 0px -8px 12px 0px #EBEEF3;

      .btn {
        margin-top: 10px;
      }
    }

    // hide reply control from nail
    .nail-list-item {
      margin: 0;
      .panel-footer .replies {
        display: none;
      }
    }
  }
}

.nail-fixed {
  .nail-list-item {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 101;

    padding-top: 10px;
    padding-left: 10px;


    .panel-body {
      min-height: initial;
      padding-bottom: 20px;

      -webkit-transition: height 0.4s, top 0.4s, padding 0.4s;
      transition: height 0.4s, top 0.4s, padding 0.4s;
    }
    box-shadow: 0px 10px 80px 0px @nailBoxShadow !important;

    .panel-heading,
    .panel-footer {
      // display: none;
      min-height: 0;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      opacity: 0;

      -webkit-transition: height 0.1s, min-height 0.1s, padding 0.1s;
      transition: height 0.1s, min-height 0.1s, padding 0.1s;
    }
  }

  .nail-wrapper {
    padding-top: 190px;
  }
}

//@media (min-width: 750px) {
  .nail-view-modal {
    .nail-list-item {
      border: none;
      box-shadow: none;
    }
  }
//}

.modal-backdrop {
  background: #F3F5F8;
  opacity: 0.9;
}


// Reply form
.nail-view-modal {
  .reply-modal {
    position: fixed;
    left: 0;
    top: 200px;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: #F3F5F8;
    opacity: 1;
    z-index: 201;

    .form-container {
      margin: 20px;
      padding: 10px 15px;
      background: #FFFFFF;
      box-shadow: 0px 8px 12px 0px #EBEEF3;
      border-radius: 8px;
      opacity: 1;

      p {
        // font-weight: 400;
        font-size: 16px;
      }
      textarea {
        width: 100%;
        min-height: 100px;
        background: #FFFFFF;
        border: 1px solid #82CCDC;
        border-radius: 4px;
      }
      .row {
        margin-bottom: 15px;
      }
      .btn {
        padding: 8px 40px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}
.nail-fixed.nail-view-modal {
  .reply-modal {
    top: 80px;

  }
}