.view-single {
  padding-bottom: 150px;

  .back-btn {
    margin: 10px;
    margin-left: 0;
    .btn {
      margin-left: 10px;
      color: @themeSecondaryColor;
      background: #EBEFF5;
      border-radius: 0px 100px 100px 0px;
    }
  }
}
