.modal.nail-view-modal#nail-view-modal(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='screen.isPhone')
        div.mobile-wrap(ng-if="nv.nail")
          nail-list-item(nail="nv.nail", is-nail-view="true", ng-click="nv.onNailClick()")
      .modal-body
        div(ng-hide='screen.isPhone')
          a.close.pull-right(ng-click="$hide()", title="Close")
            i.icon.icon-loliful-icon-close

        div.progress-bar-container(ng-if="!nv.nail")
          div.progress-bar
          div.progress-bar.progress-current

        div.nail-wrapper(ng-if="nv.nail")
          nail-list-item(ng-if="!screen.isPhone", nail="nv.nail", is-nail-view="true", ng-click="nv.onNailClick()")

          div.panel.hammer-list-item.hidden
            div.panel-body
              form.reply-form.form-inline(ng-submit="nv.reply();")
                div.col-xs-9.col-sm-8
                  input#reply.form-control(type="text", placeholder="Joke", ng-model="nv._hammer.text", required, autofocus=true)
                button.btn.btn-small.btn-primary(type="submit") Reply

          div.container-fluid.hammers(ng-if="nv.nail.$hammers && !screen.isPhone", ng-scrollbars)
            hammer-list-item(hammer="item", ng-repeat="item in nv.nail.$hammers track by item.id")
          div.container-fluid.hammers(ng-if="nv.nail.$hammers && screen.isPhone")
            hammer-list-item(hammer="item", ng-repeat="item in nv.nail.$hammers track by item.id")
      .modal-footer.fixed-footer(ng-show='screen.isPhone')
        div.row
          div.col-xs-6
            div.back-btn.pull-left
              a.btn(ng-click="$hide()") ← Back
          div.col-xs-6
            div.reply-btn.pull-right
              a.btn.btn-primary.btn-small() Reply


