div.jumbotron
  h1 "Err" + "or" = "Error"
  p Hohoho.. you know what else is funny? You probably found a bug that we didn't know it even exist!
  p How cool is that!?!
  p
    a.btn.btn-primary(ui-sref="fresh", role="button") Read fresh nails
