.page-not-found
  .container-fluid.align-center
    .vOfs
      p
        strong Error 404: the page doesn't exist
      p Everything is perishable <br> Enjoy this Zen card while you can
      img(src="/assets/img/zen-card.svg")
      p.vOfs.text-muted Or create somethign meaningful
      p
        a.btn.btn-primary(ui-sref="fresh", role="button") TAKE ME TO INTROS
