div.jumbotron
  h1 808 / 2 = 101 * 4 = 202 * 2 = 303 * 4/3 = 404
  p Hehe.. you know what else is funny? Piatochok never became an adult pig...
  p But no worries, we will try to help you.
  p
    a.btn.btn-primary(ui-sref="fresh", role="button") Read fresh nails
