.page-not-found
  .container-fluid.align-center
    p There is nothing here but a black hole
    .black-hole
      span 4
      span.hole
      span 4
    p Let's go out of here
    p
      a.btn.btn-primary(ui-sref="fresh", role="button") Take me to fresh intros
