/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// zbower:less
// zendbower

@assets: '../assets';
@bower: '../../bower_components/';

// custom bootstrap build
@import '@{assets}/less/bootstrap-custom';

// Other bower libs
@import (css) '@{bower}bootstrap-additions/dist/modules/aside.css';
@import (css) '@{bower}angular/angular-csp.css';
@import (css) '@{bower}sweetalert/dist/sweetalert.css';

@import (css) '@{assets}/fonts/loliful.css';
@import '@{assets}/less/main';


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
