.font-headers() {
  font-family: 'Roboto Slab', serif;
}
.font-main() {
  font-family: 'Roboto', sans-serif;
}


body {
  .font-main();
  color: @themeTextColor;
}

a {
  color: @themeMainColor;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
}

a:focus,a:active,a:hover {
  color: #000;
  outline: inherit;
  text-decoration: none;
}

a .icon {
  cursor: pointer;
}
.icon:before {
  text-align: left;
  display: inline-block;
}

