.font-headers() {
  font-family: 'Robot Slab', serif;
}
.font-main() {
  font-family: 'Roboto', sans-serif;
}


body {
  .font-main();
  color: @themeTextColor;
}

a {
  color: @themeMainColor;
}

a:focus,a:active,a:hover {
  outline: inherit;
  text-decoration: none;
}

a .icon {
  cursor: pointer;
}
.icon:before {
  text-align: left;
  display: inline-block;
}

