@sidebarWidth: 190px;

.is-tablet, .is-desktop {
  .ui-view-container {
    position: relative;
    top: 70px;
  }
  .side-menu {
    position: fixed;
    left: 0;
    top: 110px;
    display: block;
    width: @sidebarWidth;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main {
    position: absolute;
    left: @sidebarWidth + 10px;
    top: 20px;
    display: block;
    right: 40px;
  }
}


body {
  background: @bodyBg;
}
