@sidebarWidth: 190px;

body {
  height: 100%;
}

.ui-view-container {
  height: 100%;
}

.is-tablet, .is-desktop {
  .ui-view-container {
    position: relative;
    top: 80px;
  }
  .main {
    position: absolute;
    top: 20px;
    display: block;
  }
}

.main-margins(@margins) {
  .main {
    left: @margins;
    right: @margins;
  }
  header.header {
    padding-left: @margins;
    padding-right: @margins;
  }
}

.content-centering(@width) {
  .navbar, #main-view {
    width: @width;
    position: absolute;
    left: 50%;
    margin-left: -(@width/2);
  }

  #main-view {
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1110px) {
  .content-centering(740px);
  .panel:nth-child(2n) {
    margin-right: 0;
  }

  .fresh:after {
    content: ' ';
    display: block;

    clear: left;
  }
}
@media (min-width: 1111px) and (max-width: 1510px) {
  .content-centering(1112px);
  .panel:nth-child(3n) {
    margin-right: 0;
  }

  .fresh:after {
    content: ' ';
    display: block;

    clear: left;
  }

}
@media (min-width: 1510px) {
  .content-centering(1490px);
  .panel:nth-child(4n) {
    margin-right: 0 !important;
  }
}


body {
  background: @bodyBg;
}
