@sidebarWidth: 190px;

.is-tablet, .is-desktop {
  .ui-view-container {
    //position: relative;
    //top: 70px;
    padding-top: 70px;

  }
  .main {
    //position: absolute;
    margin-top: 10px;
    //display: block;
  }
}

.main-margins(@margins) {
  .main {
    margin-left: @margins;
    margin-right: @margins;
  }
}

@media (min-width: 750px) {
  .main-margins(30px);
}
@media (min-width: 1020px) {
  .main-margins(110px);
}
@media (min-width: 1600px) {
  .main-margins(160px);
}


body {
  background: @bodyBg;
}
