.icon-font() {
    font-size: @iconFontSizeMenu;
    font-weight: bold;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.d1() {
    border: 1px solid red;
}
.d2() {
    border: 1px solid green;
}
.d3() {
    border: 1px dashed blue;
}