.icon-font() {
    font-size: @iconFontSizeMenu;
    font-weight: bold;
}

.icon-align() {
    display: inline-block;
    vertical-align: middle;
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.d1() {
    border: 1px solid red;
}
.d2() {
    border: 1px solid green;
}
.d3() {
    border: 1px dashed blue;
}

.flip {
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;                 /* IE 6/7/8 */
}

.nav-pills-main-menu(@textSize, @textLineHeight, @iconSize, @marginTopA) {
    .nav-pills {
        padding-right: @navPillsMarginSides;
        padding-left: @navPillsMarginSides;

        &> li {

            &> a {
                color: @navText;
                font-size: @textSize;
                line-height: @textLineHeight;
                padding: @navLiPaddingTop @navLiPaddingLeft;
                margin-top: @marginTopA;

                .border-radius(50px);
                text-align: center;

                .icon {
                    margin-right: @navIconMargin;
                    font-size: @iconSize;
                    line-height: @iconSize;
                    .icon-align();
                }
            }
            &> a:hover, a:focus {
                background-color: initial;
            }
        }
        &> li.active {
            &> a, a:hover, a:focus {
                background-color: @navActiveBg;
                color: @navActiveText;
            }

            .icon-loliful-icon-nav-fresh {
                color: @navIconFresh;
            }
            .icon-loliful-icon-nav-top {
                color: @navIconTop;
            }
            .icon-loliful-icon-nav-activity {
                color: @navIconActivity;
            }
        }
    }
}