// paths
@img: "../assets/img";


// colors
@white: #FFF;

@headerBg: #39404A;
@navActiveBg: #FFF;
@navActiveText: #39404A;
@navText: #FFF;

@navIconFresh: #F8B617;
@navIconTop: #82CCDC;
@navIconActivity: #E5736C;

@asideBg: #39404A;

@iconMenu: #FFF;
@iconMenuHighlight: #E5736C;


// sizes:header
@navBarMarginTop: 10px;
@logoHeight: 34px;
@logoMobileHeight: 34px;

@iconFontSizeMenu: 40px;

@navFontSize: 28px;
@navLineHeight: 53px;

@navLiPaddingTop: 5px;
@navLiPaddingLeft: 5px;
@navIconMargin: 4px;

@navIconSize: 40px;

@navPillsMarginSides: 22px;