// paths
@img: "../assets/img";

@bodyBg: #F9FAFC;

@themeTextColor: #39404A;
@themeMainColor: #4DB8CD;
@themeSecondaryColor: #99A3B3;
@themeActivityColor: #E5736C;

// colors:header
@white: #FFF;

@headerBg: @themeMainColor;
@navActiveBg: #38A9BF;
@navActiveText: #FFF;
@navText: #FFF;

// @navIconFresh: #F8B617;
// @navIconTop: #82CCDC;
// @navIconActivity: @themeActivityColor;
@navIconFresh: #FFF;
@navIconTop: #FFF;
@navIconActivity: #FFF;

@secondaryMenuBg: #F4F6F9;
@secondaryMenuText: @themeTextColor;
@secondaryMenuTextHighlight: @themeMainColor;

@asideBg: #FFFFFF;

@iconMenu: #FFF;
@iconMenuHighlight: @themeActivityColor;


// colors:cards
@nailBg: #FFF;
@nailBoxShadow: #C3C7D0;
@nailHeaderColor: #C3C7D0;
@nailFooterBg: #F4F6F9;
@nailTextColor: @themeTextColor;
@nailReplyInputBorder: #82CCDC;
@nailReplyBg: #FFFFFF;
@nailExpanderColor: #82CCDC;

@iconLikedColor: @themeActivityColor;

// pages: about
@pageTextColor: @themeTextColor;
@pageFontSize: 15px;
@separatorColor: #C3C7D0;
@inputBorder: @themeSecondaryColor;

// sizes:header
@navBarMarginTop: 0px;
@logoHeight: 18px;
@logoMobileHeight: 18px;

@iconFontSizeMenu: 30px;

@navFontSize: 16px;
@navLineHeight: 40px;

@navLiPaddingTop: 3px;
@navLiPaddingLeft: 2px;
@navIconMargin: 4px;

@navIconSize: 24px;

@navPillsMarginSides: 10px;

// sizes:secondary menu
@secMenuFontSize: 16px;

// sizes:cards
@nailHeadFontSize: 14px;
@nailTextSize: 15px;
@nailFooterIconSize: 24px;
@nailFooterTextSize: 12px;
@nailExpandFontSize: 20px;
