.loading {
  position: fixed;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  z-index:9999;

  transform: translateZ(0);
  .rocket {
    z-index:9999;
    width: 120px;
    height: 120px;

    background-image: url("/assets/img/preloader.png");

    animation: play 1.7s steps(49) infinite;

    transform: translateZ(0);
  }
}

//.loading.ng-enter, .loading.ng-leave {
//  transition: 0.2s ease-in-out all;
//}
//.loading.ng-enter {
//  opacity: 0;
//}
//.loading.ng-enter.ng-enter-active {
//  opacity:1;
//}
//.loading.ng-leave {
//  opacity:1;
//}
//.loading.ng-leave.ng-leave-active {
//  opacity:1;
//}
//

@keyframes play {
  from { background-position:    0px; }
  to { background-position: -5880px; }
}
