div.panel.joke-list-item
  div.panel-heading
    avatar(user="jli.joke.$user")
    a.username(href="#") {{ ::jli.joke.$user.name }}
    span.and &
    avatar(user="jli.joke.$nail.$user")
    a.username(href="#") {{ ::jli.joke.$nail.$user.name }}
  div.panel-body
    span.question {{ jli.joke.$nail.text }}
    span.answer {{ jli.joke.text }}
  div.panel-footer
    div.align-center
      span.pull-right {{ jli.joke.countVotes }}
      a(ng-click="jli.share()")
        i.icon.icon-loliful-icon-share
        | Share
      a(ng-click="jli.vote()", ng-disabled="jli.joke.$votes", ng-class="{active: jli.joke.$votes}")
        i.icon(ng-class="{'icon-loliful-icon-like': !jli.joke.$votes, 'icon-loliful-icon-liked': jli.joke.$votes}")
        | Like
