div.panel.joke-list-item
  div.panel-heading
    avatar(user="jli.joke.$user")
    span.and
    avatar(user="jli.joke.$nail.$user")
  div.panel-body
    span.question {{ jli.joke.$nail.text }}
    span.answer {{ jli.joke.text }}
  div.panel-footer
    div.align-right
      a(ng-click="jli.share()", bs-tooltip="tooltip",
      title="Share this joke")
        i.icon.icon-loliful-icon-share
      a(ng-click="jli.vote()", ng-disabled="jli.joke.$votes", ng-class="{active: jli.joke.$votes}", title="Like")
        i.icon(ng-class="{'icon-loliful-icon-like': !jli.joke.$votes, 'icon-loliful-icon-liked': jli.joke.$votes}")
      span.pull-right {{ jli.joke.countVotes }}
