div.panel.joke-list-item
  div.panel-heading
    avatar(user="jli.joke.$nail.$user")
    span.and
    avatar(user="jli.joke.$user")
  div.panel-body(ui-sref="nail-view({nailId: jli.joke.$nail.id})")
    span.question {{ jli.joke.$nail.text }}
    span.answer {{ jli.joke.text }}
  div.panel-footer
    div.align-center
      a.btn.btn-primary(ng-click="jli.share()")
        i.icon.icon-loliful-icon-share
        | SHARE
      a.position-right(ng-click="!jli.isOwn && jli.vote()", ng-disabled="jli.joke.$votes", ng-class="{active: jli.joke.$votes}", title="Like")
        i.icon(ng-class="{'icon-loliful-icon-like': !jli.joke.$votes, 'icon-loliful-icon-liked': jli.joke.$votes}")
        | {{ jli.joke.countVotes }}
