nail-add.nail-add(on-add="vm.onAdd(nail)", ng-show="showAdd")

float-menu(add="showAdd = !showAdd")

div(ng-if="!vm.nails.length")
  p Loading ..
div.fresh(ng-if="vm.nails",infinite-scroll="vm.loadMore()" infinite-scroll-distance="3")
  nail-list-item(nail="item", ng-repeat="item in vm.nails track by $index", show-hammers="true")
