float-menu(on-add-click="vm.showAddModal()")

div.container-fluid
  div.row
    div.col-sm-4
      ul#secondary-menu.nav.nav-pills.activity.nav-justified
        li(role="presentation", ui-sref-active="active")
          a(ui-sref="fresh({type: 'popular'})")
            | Popular
        li(role="presentation", ui-sref-active="active")
          a(ui-sref="fresh({type: 'recent'})")
            | Recent
        li(role="presentation")
          a(ng-click="vm.loadFresh()", title="Reload")
            i.icon.icon-loliful-icon-refresh
    div.col-sm-3.pull-right(ng-show="!screen.isPhone")
      a.btn.btn-warning(ng-click="vm.showAddModal()") ADD INTRO

loading(ng-if="!vm.nails.length")


div.fresh(ng-if="vm.nails", infinite-scroll="screen.isPhone && vm.loadMore()", infinite-scroll-distance="3")
  nail-list-item(nail="item", ng-repeat="item in vm.nails", show-hammers="true")

button.load-more.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="!vm.$hasMore || screen.isPhone") Show more

br
