float-menu(add="fm.onAdd")

ul.nav.nav-pills.nav-justified.fresh-nav(ng-hide="!screen.isPhone")
  li(ng-class="{active: vm.type=='popular'}")
    a.popular(ui-sref="fresh({type: 'popular'})") POPULAR
  li(ng-class="{active: vm.type=='recent'}")
    a.recent(ui-sref="fresh({type: 'recent'})") RECENT

div(ng-if="!vm.nails.length")
  p Loading ..
div.fresh(ng-if="vm.nails", infinite-scroll="screen.isPhone && vm.loadMore()", infinite-scroll-distance="3")
  nail-list-item(nail="item", ng-repeat="item in vm.nails track by $index", show-hammers="true")

button.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="screen.isPhone") Show more

br
