float-menu(add="fm.onAdd")

div.container
  div.row.secondary-nav
    div.col-sm-4
      ul.nav.nav-pills.nav-justified.fresh-nav
        li(ng-class="{active: vm.type=='popular'}")
          a.popular(ui-sref="fresh({type: 'popular'})") POPULAR
        li(ng-class="{active: vm.type=='recent'}")
          a.recent(ui-sref="fresh({type: 'recent'})") RECENT
    div.col-xs-3.pull-right(ng-show="!screen.isPhone")
      ul.nav.nav-pills.nav-justified.add-intro-nav
        li.active
          a.add-intro(href="#") ADD INTRO

loading(ng-if="!vm.nails.length")

div.fresh(ng-if="vm.nails", infinite-scroll="screen.isPhone && vm.loadMore()", infinite-scroll-distance="3")
  nail-list-item(nail="item", ng-repeat="item in vm.nails track by $index", show-hammers="true")

button.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="screen.isPhone") Show more

br
