.secondary-nav ul.nav {
  margin-top: 14px;
  width: auto;
  //max-width: 300px;
  @fontSize: 14px;

  list-style: none;

  li {
    display: table-cell;
    width: 1%;
    a {
      line-height: @fontSize + 6px;

      background: #EBEFF5;
      //border: 1px solid #C3C7D0;
      font-family: Lato;
      font-size: @fontSize;
      color: #99A3B3;

      font-weight: 100;
    }
    a.popular {
      border-radius: 100px 0px 0px 100px;
    }
    a.recent {
      border-radius: 0px 100px 100px 0px;
    }
  }
  li.active, li:hover, li:active, li:focus {
    a, a:hover {
      background: #A7D479;
      color: #FFFFFF;
    }
  }

  &.add-intro-nav {
    max-width: 200px;
  }
  .add-intro {
    background: #D69734 !important;
    box-shadow: 0px 15px 20px 0px rgba(214,151,52,0.25);
    border-radius: 100px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
  }

}

.fresh-nav {
  margin-left: 56px;
  margin-right: 56px;
}

.is-tablet, .is-desktop {
  .fresh-nav {
    margin-left: 0;
    margin-right: 0;
    max-width: 300px;
  }
}
