.fresh-nav {
    @fontSize: 17px;

    li {
        a {
            background: #FBFCFD;
            border: 1px solid #C3C7D0;
            border-radius: 4px 0px 0px 4px;
            font-family: Lato;
            font-size: @fontSize;
            color: #99A3B3;
            line-height: @fontSize;
            font-weight: 400;
        }
    }
    li.active,li:hover,li:active,li:focus {
        a,a:hover {
            background: #82CCDC;
            border-radius: 4px 0px 0px 4px;
            font-family: Lato;
            font-size: @fontSize;
            color: #FFFFFF;
            line-height: @fontSize;
        }
    }
}