.nav
  a.btn.btn-default.btn-block.btn-lg.popular(
    ui-sref="fresh({type: 'popular'})",
    ui-sref-active="btn-primary"
  ) POPULAR
  a.btn.btn-default.btn-block.btn-lg.recent(
    ui-sref="fresh({type: 'recent'})",
    ui-sref-active="btn-primary"
  ) RECENT
