float-menu(single="true")

ul#secondary-menu.nav.nav-pills.activity.nav-justified
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="activity({type: 'saves'})")
      | Saved
      span.hidden-xs &nbsp; for later
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="activity({type: 'likes'})")
      | Liked
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="activity({type: 'nails'})")
      | My intros
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="activity({type: 'hammers'})")
      | My outros

div.container-fluid.align-center(ng-if="vm.$empty")
  activity-empty-screen(type="vm.type")

section
  loading(ng-if="vm.$loading")

  div.activities(infinite-scroll="screen.isPhone && vm.loadMore()" infinite-scroll-distance="3")
    div.my-nails(ng-if="vm.items && vm.type=='nails'")
      nail-list-item(nail="item", ng-repeat="item in vm.items track by $index")
    div.my-hammers(ng-if="vm.items && vm.type=='hammers'")
      hammer-activity-item(hammer="item", ng-repeat="item in vm.items track by $index")
    div(ng-if="vm.items && (vm.type=='saves' || vm.type=='likes')")
      div(ng-repeat="item in vm.items track by $index")
        nail-list-item(ng-if="item.$nail", nail="item.$nail")
        hammer-activity-item(ng-if="item.$hammer", hammer="item.$hammer")

  button.load-more.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="!vm.$hasMore || screen.isPhone") Show more
