float-menu(single="true")

section
  div(ng-if="!vm.items") Loading..
  div.activities(infinite-scroll="vm.loadMore()" infinite-scroll-distance="3")
    div.my-nails(ng-if="vm.items && vm.type=='nails'")
      nail-list-item(nail="item", ng-repeat="item in vm.items track by $index")
    div.my-hammers(ng-if="vm.items && vm.type=='hammers'")
      hammer-activity-item(hammer="item", ng-repeat="item in vm.items track by $index")
    div(ng-if="vm.items && (vm.type=='saves' || vm.type=='likes')")
      div(ng-repeat="item in vm.items track by $index")
        nail-list-item(ng-if="item.$nail", nail="item.$nail")
        hammer-list-item(ng-if="item.$hammer", hammer="item.$hammer")
