p(ng-if="$ctrl.topText") {{ $ctrl.topText }}
img.illustration(ng-src="{{ $ctrl.img }}")
p(ng-if="$ctrl.type == 'nails'")
 | Выбери хороший вопрос и добавь смешной ответ
p(ng-if="$ctrl.type == 'likes' || $ctrl.type == 'saves'")
 | Найди в <a ui-sref="fresh()"><b>Вопросах</b></a> хороший <b>Заезд</b> и добавь смешную <b>Добивку</b> <br/>
 | Если в данную минуту не хочется шутить, попробуйте <b>Отложить на потом</b> или проголосовать за понравившиеся вопросы.
.vOfs
  a.btn.btn-primary.uppercase(ui-sref="fresh") {{ $ctrl.actionName }}
