div.panel.hammer-activity-item
  div.panel-header.row
    div.col-sm-12.col-xs-12
      span.text.clickable(ui-sref="nail-view({nailId: hai.hammer.nailId})")
        | {{ hai.hammer.$nail.text }}
  div.panel-body
    div.hammer.clickable(ui-sref="nail-view({nailId: hai.hammer.nailId, '#': hai.hammer.id})")
      | {{ hai.hammer.text }}
  div.panel-footer
    div.row
      div.col-sm-6.col-xs-6
        span.time-ago
          i.icon.icon-loliful-icon-time
          | {{ hai.hammer.created | timeAgo }}
      div.col-sm-6.col-xs-6.pull-right.text-right
        a.likes
          i.icon.icon-loliful-icon-like
          span {{ hai.hammer.countVotes }}
        a.delete(ng-click="hai.delete()")
          i.icon.icon-loliful-icon-delete
