div.panel.hammer-activity-item
  div.panel-header.row
    div.col-sm-12.col-xs-12
      span.text.clickable(ui-sref="nail-view({nailId: hai.hammer.nailId})")
        | {{ hai.hammer.$nail.text }}
  div.panel-body
    div.hammer.clickable(ui-sref="nail-view({nailId: hai.hammer.nailId, '#': hai.hammer.id})")
      | {{ hai.hammer.text }}
  div.panel-footer
    div.row
      div.col-sm-6.col-xs-6
        span.time-ago
          i.icon.icon-loliful-icon-time
          | {{ hai.hammer.created | timeAgo }}
      div.col-sm-6.col-xs-6.pull-right.text-right
        a.likes(ng-click="hai.vote()", ng-class="{active: hai.hammer.$votes}", ng-if="!hai.isOwn")
          i.icon(ng-class="{'icon-loliful-icon-like': !hai.hammer.$votes, 'icon-loliful-icon-liked': hai.hammer.$votes}")
          span {{ hai.hammer.countVotes }}
        span.likes(ng-if="hai.isOwn")
          i.icon(ng-class="{'icon-loliful-icon-like': !hai.hammer.$votes, 'icon-loliful-icon-liked': hai.hammer.$votes}")
          span {{ hai.hammer.countVotes }}
        a.delete(ng-click="hai.delete()", ng-if="hai.isOwn")
          i.icon.icon-loliful-icon-delete
