.aside
  .aside-dialog
    .aside-content
      .aside-body
        button.close.pull-right(type="button", ng-click="$hide()")
          i.icon.icon-loliful-icon-close
        ul.nav.nav-list
          li
            a(ui-sref="profile", ng-click="$hide()")
              i.icon.icon-loliful-icon-profile
              | Profile
          li
            a(ui-sref="about", ng-click="$hide()")
              i.icon.icon-loliful-icon-about
              | About
          li
            a(ui-sref="logout")
              i.icon.icon-loliful-icon-exit
              | Logout
