.popover.float-popup-menu
  .arrow
  .popover-content
    table(border=0)
      tr
        td
          ul.nav.nav-list
            li
              a(ui-sref="fresh", ng-click="$hide()")
                i.icon.icon-loliful-icon-nav-fresh
                | Вопросы
            li
              a(ui-sref="top", ng-click="$hide()")
                i.icon.icon-loliful-icon-nav-top
                | Шутки
        td
          ul.nav.nav-list
            li
              a(ui-sref="profile", ng-click="$hide()")
                i.icon.icon-loliful-icon-profile
                | Профиль
            li
              a(ui-sref="page.about", ng-click="$hide()")
                i.icon.icon-loliful-icon-about
                | О сервисе
            li
              a(ui-sref="page.contact", ng-click="$hide()")
                i.icon.icon-loliful-icon-contact
                | Контакты
        td
          ul.nav.nav-list
            li.logout
              a(ui-sref="logout")
                i.icon.icon-loliful-icon-exit
                | Уйти
