nav {
  ul.activity {
    margin-top: 8px;

    li>a {
      padding: 4px 6px;
    }
  }
}

.nav {
  a {
    position: relative;

    .icon {
      margin-left: 4px;
      margin-right: 4px;
      position: relative;
      top: 3px;
      color: @white;
      overflow:hidden;
      &:before {
        position: relative;
        font-size: 2em;
      }
    }
  }

  .active {
    .icon {
      color: #F8BB86;
    }
  }

}