header.header.clearfix
  nav.navbar.navbar-default(bs-navbar)
    div.container-fluid
      div.navbar-header
        button.navbar-toggle.header-icon(type="button", aria-expanded="false", ng-click="vm.showAside()")
          span.sr-only Menu
          span.icon.icon-loliful-icon-menu
        button.navbar-toggle.header-icon(type="button", aria-expanded="false", ui-sref="notifications")
          span.sr-only Notifications
          span.icon.icon-loliful-icon-notification
        a.navbar-brand
            img(src="/assets/img/logo.svg", alt="Loliful", title="Loliful")
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(role="presentation", data-match-route="/profile")
            a(ui-sref="profile") Profile
          li(role="presentation", data-match-route="/notifications")
            a(ui-sref="notifications") Notifications
                span.badge(ng-show="vm.unreadCount") {{ vm.unreadCount }}
          li(role="presentation", data-match-route="/about")
            a(ui-sref="page.about") About
          li(role="presentation")
            a(ui-sref="logout") Logout

  nav.navbar
    ul.nav.nav-pills.top-menu
      li(role="presentation", ng-class="{active: isState('fresh')}")
        a(ui-sref="fresh")
          i.icon.icon-loliful-icon-nav-fresh
          | Fresh
          span.badge(ng-show="vm.freshNails.length>0") {{ vm.freshNails.length }}
      li(role="presentation", ng-class="{active: isState('top')}")
        a(ui-sref="top")
          i.icon.icon-loliful-icon-nav-top
          | Top
      li(role="presentation", ng-class="{active: isState('activity')}")
        a(ui-sref="activity({type: 'nails'})")
          i.icon.icon-loliful-icon-nav-activity
          | Activity

ul#secondary-menu.nav.nav-pills.activity.nav-justified(ng-if="isState('activity')")
  li(role="presentation", ng-repeat="(type, value) in vm.activityTypes track by $index", ng-class="{active: vm.checkActivity(type)}")
    a(ui-sref="activity({type: type})") {{value}}
