.popover.user-menu
  .arrow
  .popover-content
    ul.nav.nav-list
      li
        a(ui-sref="profile", ng-click="$hide()")
          i.icon.icon-loliful-icon-profile
          | Профиль
      li
        a(ui-sref="activity({type: 'nails'})", ng-click="$hide()")
          i.icon.icon-loliful-icon-nav-activity
          | Активность
      li.hidden
        a(ui-sref="notifications", ng-click="$hide()")
          i.icon.icon-loliful-icon-notification
          | Уведомления
        span.badge(ng-show="vm.unreadCount") {{ vm.unreadCount }}
      li
        a(ui-sref="page.about", ng-click="$hide()")
          i.icon.icon-loliful-icon-about
          | О сервисе
      li
        a(ui-sref="page.contact", ng-click="$hide()")
          i.icon.icon-loliful-icon-contact
          | Контакт
      li.separator
        hr
      li.logout
        a(ui-sref="logout")
          i.icon.icon-loliful-icon-exit
          | Уйти
