float-menu(single="true")

loading(ng-if="vm.$loading")

div.page-slim

  div.top.clearfix(ng-if="vm.jokes", infinite-scroll="vm.loadMore()", infinite-scroll-distance="3")
    joke-list-item(joke="item", ng-repeat="item in vm.jokes track by $index")

  //- button.load-more.btn.btn-block.btn-lg(ng-click="vm.loadMore()", ng-hide="!vm.$hasMore || screen.isPhone") Показать еще

  br

  div.container-fluid.align-center(ng-if="vm.$empty")
    p.vOfs Похоже, что никто не старался быть смешным

    .empty-card.vOfs
      img(src="/assets/img/empty-card.png")

    p Может быть есть идеи?

    .vOfs
      a.btn.btn-primary.uppercase(ui-sref="fresh") Вопросы
